{% set militarys = __SELF__.militarys %}
{% set maritalstatuss = __SELF__.maritalstatuss %}
{% set occupations = __SELF__.occupations %}
{% set maritalregiterstatus = __SELF__.maritalregiterstatus %}
{% set countrycallingcodes = __SELF__.countrycallingcodes %}
{% set relationshiptypes = __SELF__.relationshiptypes %}
{% set prefixs = __SELF__.prefixs %}
{% set prefixsfa = __SELF__.prefixsfa %}
{% set prefixsmo = __SELF__.prefixsmo %}
{% set prefixsspo = __SELF__.prefixsspo %}
{% set statuscandidates = __SELF__.statuscandidates %}
{% set onstatuscandidates = __SELF__.onstatuscandidates %}
{% set candidates = __SELF__.candidates %}
{% set familiess = __SELF__.familiess %}
{% set father = __SELF__.father %}
{% set mother = __SELF__.mother %}
{% set spouse = __SELF__.spouse %}
{% set lifestatuss = __SELF__.lifestatuss %}
{% set childrens = __SELF__.childrens %}
{% set brethrens = __SELF__.brethrens %}
{% set brethren = __SELF__.brethren %}
{% set children = __SELF__.children %}

<style>

.Single{background-image:url({{ 'assets/img/statusfamily/sf1.png'|theme }}); background-size: 45px 45px; background-position: top;}
.Married{background-image:url({{ 'assets/img/statusfamily/sf2.png'|theme }}); background-size: 45px 45px; background-position: top;}
.Divorced{background-image:url({{ 'assets/img/statusfamily/sf3.png'|theme }}); background-size: 45px 45px; background-position: top;}
.Windowed{background-image:url({{ 'assets/img/statusfamily/sf4.png'|theme }}); background-size: 45px 45px; background-position: top;}
.Separated{background-image:url({{ 'assets/img/statusfamily/sf5.png'|theme }}); background-size: 45px 45px; background-position: top;}

.Registered{background-image:url({{ 'assets/img/statusfamily/regi.png'|theme }}); background-size: 70px 55px; background-position: top;}
.Unregistered{background-image:url({{ 'assets/img/statusfamily/unregi.png'|theme }}); background-size: 70px 55px; background-position: top;}


</style>
<h2>สถานะและครอบครัว</h2>
<form data-request="onSave"  class="m-t-md" data-request-files data-request-flash>
  <!-- <form id="formsave"> -->
  {% flash %}
  <p
  data-control="flash-message"
  class="flash-message fade {{ type }}"
  data-interval="5">
  {{ message }}
</p>
{% endflash %}

  <div class="row boxMilitary"  {{ candidates.idGender ==  2 ? 'hidden' :'' }} >
  <div class="col-sm-12">
    <div class="cc-selector">
    <div class="row">
      <div class="col-sm-12">
        <label><h3>สถานภาพทางทหาร</h3></label><br>
      </div>
    </div>
        <div class="row">
          <div class="col-sm-1">
          </div>
          <div class="col-sm-8">
        {% for military in militarys %}
        {% if military.idMilitary == '5'%}
        <div style="clear:both;"></div>
        {% endif %}
          <div class="checkboxgroup col-sm-2 col-xs-6 col-md-3">
          <input class="up" type="radio" name="typeMilitary" id="{{ military.Name_TH }}" value="{{ military.idMilitary  }}" {{ statuscandidates.idMilitary ==  military.idMilitary ? 'checked' :'' }}/>
          <label class="below" for="{{ military.Name_TH }}">{{ military.Name_TH }}</label>
          </div>
        {% endfor %}
      </div>
      <div class="col-sm-3">
      </div>
    </div>
    </div>
    </div>
  </div>

        <div class="cc-selector">
          <div class="row">
            <div class=" col-sm-12">
          <label><h3>สถานภาพสมรส</h3></label><br>
            </div>
          </div>
          <div class="row">
            <div class=" col-sm-1 col-md-1">
            </div>
            {% for maritalstatus in maritalstatuss %}
            <div class="checkboxgroup col-sm-1 col-xs-4 col-md-1">
            <input id="{{ maritalstatus.Name_EN }}"  type="radio" name="typeMarital"  value="{{ maritalstatus.idMarital_Status }}" {{ statuscandidates.idMarital_Status == '' and maritalstatus.idMarital_Status == '1' ? 'checked' }} {{ statuscandidates.idMarital_Status ==  maritalstatus.idMarital_Status ? 'checked' :'' }} />
            <label class="drinkcard-cc below2 {{ maritalstatus.Name_EN }}"  for="{{ maritalstatus.Name_EN }}">{{ maritalstatus.Name_TH }}</label>
            </div>
            <div class=" col-sm-1  col-md-1">
            </div>
            {% endfor %}
            <div class=" col-sm-2">
            </div>
          </div>
        </div>

  <span class="hidden boxMarital">
    <div class="cc-selector">
      <div class="row">
        <div class=" col-sm-12">
        <label><h3>สถานะการจดทะเบียน</h3></label><br>
        </div>
      </div>

    <div class="row" style="padding-bottom: 25px;">
      <div class=" col-sm-1">
      </div>
      <div class="col-sm-11">
          {% for marital_regiter_status in maritalregiterstatus %}
          <div class="checkboxgroup col-sm-2 col-xs-6 col-md-2">
          <input id="{{ marital_regiter_status.Name_EN }}"  type="radio" name="typeMarital_register_status"  value="{{ marital_regiter_status.idMarital_Register_Status }}" {{ statuscandidates.idMarital_Register_Status ==  marital_regiter_status.idMarital_Register_Status ? 'checked' :'' }}/>
          <label class="drinkcard-cc below2 {{ marital_regiter_status.Name_EN }} MaritalRegister"  for="{{ marital_regiter_status.Name_EN }}">{{ marital_regiter_status.Name_TH }}</label>
          </div>
          {% endfor %}
      </div>
      <!-- <div class=" col-sm-2">
      </div> -->
    </div>
    </div>
    <div class="row">
      <div class=" col-sm-12">
      <label><h3>คู่สมรส</h3></label><br>
      </div>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-sm-1">
        </div>
      <div class="col-sm-2" id="boxidPrefix_Spouse">
        <div class="form-group">
          <label class="control-label">คำนำหน้าชื่อ</label>
          <select id="idPrefix_Spouse" class="form-control chosen" name="idPrefix_Spouse">
            <option value=""> เลือก </option>
            {% for prefixssp in prefixsspo %}
            {% set selected = '' %}
						{% if prefixssp.idPrefix == spouse.idPrefix %}
						{% set selected = 'selected' %}
						{% endif %}
            <option value="{{ prefixssp.idPrefix }}" {{ selected }}>{{ prefixssp.Name_TH }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-sm-3">
        <label class="control-label">ชื่อ</label>
        <input type="text" name="FirstName_TH_Spouse" class="form-control" value="{{ spouse.FirstName_TH }}" >
      </div>
      <div class="col-sm-3">
        <label class="control-label">นามสกุล</label>
        <input type="text" name="LastName_TH_Spouse" class="form-control" value="{{ spouse.LastName_TH }}">
      </div>
      <div class="col-sm-2">
        <label class="control-label">ชื่อเล่น</label>
        <input type="text" name="NickName_TH_Spouse" class="form-control" value="{{ spouse.NickName_TH }}">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label class="control-label">อาชีพ</label>
          <select id="idOccupation_Spouse" class="form-control widow" name="idOccupation_Spouse" {{statuscandidates.idMarital_Status == 4 ? 'disabled' :'' }}>
            <option value=""> เลือก </option>
            {% for occupation in occupations %}
            {% set selected = '' %}
						{% if occupation.idOccupation == spouse.idOccupation %}
						{% set selected = 'selected' %}
						{% endif %}
            <option value="{{ occupation.idOccupation }}" {{ selected }}>{{ occupation.Name_TH }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-sm-2">
          <!-- <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <input type="text" name="Age_Spouse" id="Age_Spouse" class="form-control dateMobile BirthDate widow" value="{{ spouse.Date_of_Birth !='00/00/0000' ? spouse.Age_Spouse : '' }}">
          <span class="help-block"></span> -->
          <label class="control-label">อายุ</label>
          <div class="input-group m-b"><input type="text" name="Age_Spouse" id="Age_Spouse"class="form-control chosen widow" value="{{spouse.Age}}" maxlength="2" {{statuscandidates.idMarital_Status == 4 ? 'disabled' :'' }}><span class="input-group-addon">ปี</span></div>
        <span class="help-block"></span>

      </div>
      <div class="form-group col-md-6 col-sm-6">
        <label class="control-label">เบอร์โทรศัพท์</label><br/>
        <div class="col-md-4 col-sm-4 col-xs-4 no-padding-left">
          <select class="form-control widow" name="idCountry_Calling_Code_Spouse" id="idCountry_Calling_Code_Spouse" {{statuscandidates.idMarital_Status == 4 ? 'disabled' :'' }}>
            <option value="">เลือก</option>
            {% for countrycallingcode in countrycallingcodes %}
            {% set selected = '' %}
            {% if countrycallingcode.idCountry_Calling_Code == '83' and spouse.idCountry_Calling_Code == "" %}
            {% set selected = 'selected' %}
            {% endif %}
            {% if countrycallingcode.idCountry_Calling_Code == spouse.idCountry_Calling_Code %}
            {% set selected = 'selected' %}
            {% endif %}
            <option value="{{countrycallingcode.idCountry_Calling_Code}}" {{ selected }}>+{{countrycallingcode.Code}}</option>
            {% endfor %}
          </select>
          <span class="help-block"></span>
        </div>
        <div class="col-sm-6 col-xs-6 no-padding">
          <input type="text" class="form-control widow" name="TelephoneNumber_Spouse" id="TelephoneNumber_Spouse" placeholder="Ex.0999999999" value="{{ spouse.TelephoneNumber }}" maxlength="10" {{statuscandidates.idMarital_Status == 4 ? 'disabled' :'' }}>
          <span class="help-block"></span>
        </div>



      </div>
      </div>
      <div class="row">
        <div class=" col-sm-12">
        <label><h3>บุตร</h3></label><br>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1">
          </div>
        <div class="col-sm-2 col-xs-12">
          <label class="control-label">จำนวนบุตร</label>
          <div class="input-group m-b"><input type="text" name="Amount_of_Children" class="form-control" id="NumChildren" data-mask="9" value="{{ spouse.Amount_of_Children }}" readonly><span class="input-group-addon">คน</span></div>
        </div>
        <div class="col-sm-2 col-xs-12">
          <br />
        <!-- <button class="btn btn-white" type="button" id="btnAdd_C"><i class="fa fa-plus"></i> เพิ่ม</button>
        <button class="btn btn-white" type="button" id="btnRemove_C"><i class="fa fa-remove"></i> ลด</button> -->
        <button class="btn btn-white" type="button" data-toggle="modal" data-target="#moDalAddChildren" id="AddChildren" ><i class="fa fa-plus"></i> เพิ่ม</button>
        </div>
      </div>

      <div class="row">
          <div class="col-sm-1">
            </div>
            <div class="col-sm-10">
              <!-- <div class="wrapper wrapper-content animated fadeInUp"> -->
                  <div class="ibox">
                      <!-- <div class="ibox-content"> -->
                          <div class="project-list">
                            <div class="table-responsive" >
                              <table class="table table-hover ">
                                  <tbody class="tbody-c">
                                    <tr class="ccch hidden">
                                        <td class="col-sm-1">
                                          <center>
                                          <button  value="{{c.idFamilies}}" type="button" data-toggle="modal" data-target="#moDaleditChildren" class="btn btn-white btn-sm editChildren idFami-c" ><i class="fa fa-pencil"></i> แก้ไข</button>
                                          <!-- <input type="hidden" name="idFamilies" value="{{ b.idFamilies }}"> -->
                                          </center>
                                        </td>
                                        <td class="col-sm-2">
                                            <small>ชื่อ</small><br/>
                                            <h4 class="pfFirstName-c"></h4>
                                        </td>
                                        <td class="col-sm-2" >
                                            <small>นามสกุล</small><br/>
                                            <h4 class="LastName-c"></h4>
                                        </td>
                                        <td  >
                                            <small>อายุ</small><br/>
                                            <h4 class="Age-c"></h4>
                                        </td>
                                    </tr>
                                  {% for c in children %}
                                  <tr class="ccc">
                                      <td class="col-sm-1">
                                        <center>
                                        <button  value="{{c.idFamilies}}" type="button" data-toggle="modal" data-target="#moDaleditChildren" class="btn btn-white btn-sm editChildren" ><i class="fa fa-pencil"></i> แก้ไข</button>
                                        <!-- <input type="hidden" name="idFamilies" value="{{ b.idFamilies }}"> -->
                                        </center>
                                      </td>
                                      <td class="col-sm-2">
                                          <small>ชื่อ</small><br/>
                                          <h4 class="pfFirstName">{{c.nameprefix}}{{ c.FirstName_TH }}</h4>
                                      </td>
                                      <td class="col-sm-2" >
                                          <small>นามสกุล</small><br/>
                                          <h4 class="LastName">{{ c.LastName_TH }}</h4>
                                      </td>
                                      <td  >
                                          <small>อายุ</small><br/>
                                          <h4 class="Age">{{ c.Age }}</h4>
                                      </td>
                                  </tr>
                                  {% endfor %}
                                  </tbody>
                              </table>
                              </div>
                          </div>
                      <!-- </div> -->
                  </div>
              <!-- </div> -->
          </div>
      </div>


    </span>



  <div class="row">
    <div class="col-sm-1">
      <label class="control-label"><h3>บิดา</h3></label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2" id="boxTitleNameFather">
      <div class="form-group">
        <label class="control-label">คำนำหน้าชื่อ</label>
        <select id="TitleNameFather" class="form-control chosen" name="TitleNameFather">
          <option value=""> เลือก </option>
          {% for prefixsf in prefixsfa %}
          {% set selected = '' %}
          {% if prefixsf.idPrefix == father.idPrefix %}
          {% set selected = 'selected' %}
          {% endif %}
          <option value="{{ prefixsf.idPrefix }}" {{ selected }}>{{ prefixsf.Name_TH }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-sm-3">
      <label class="control-label">ชื่อ</label>
      <input type="text" name="FirstName_TH_Father" class="form-control" placeholder="" value="{{ father.FirstName_TH }}" >
    </div>
    <div class="col-sm-3">
      <label class="control-label">นามสกุล</label>
      <input type="text" name="LastName_TH_Father" class="form-control" placeholder="" value="{{ father.LastName_TH }}" >
    </div>
    <div class="col-sm-2">
      <label class="control-label">สถานะ</label>
      <select name="Status_Father" id="Status_Father" class="form-control">
        {% for lifestatus in lifestatuss %}
        {% set selected = '1' %}
        {% if lifestatus.idLife_Status == father.idLife_Status %}
        {% set selected = 'selected' %}
        {% endif %}
        <option value="{{ lifestatus.idLife_Status }}" {{ selected }}>{{ lifestatus.Name_TH }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <label class="control-label">อายุ</label >
      <div class="input-group m-b"><input type="text" class="form-control FatherRelateStatus" id="Age_Father" name="Age_Father" value="{{ father.Age }}" maxlength="3" {{ father.idLife_Status == 2 ? 'disabled' :'' }}><span class="input-group-addon">ปี</span></div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label class="control-label">อาชีพ</label>
        <select id="TitleName" class="form-control FatherRelateStatus" name="idOccupation_Father" id="idOccupation_Father" {{ father.idLife_Status == 2 ? 'disabled' :'' }}>
          <option value=""> เลือก </option>
          {% for occupation in occupations %}
          {% set selected = '' %}
          {% if occupation.idOccupation == father.idOccupation %}
          {% set selected = 'selected' %}
          {% endif %}
          <option value="{{ occupation.idOccupation }}" {{ selected }}>{{ occupation.Name_TH }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group col-md-6 col-sm-6">
      <label class="control-label">เบอร์โทรศัพท์</label><br/>
      <div class="col-md-4 col-sm-4 col-xs-4 no-padding-left">
        <select class="form-control FatherRelateStatus" name="idCountry_Calling_Code_Father" id="idCountry_Calling_Code_Father" {{ father.idLife_Status == 2 ? 'disabled' :'' }}>
          <option value="0">เลือก</option>
          {% for countrycallingcode in countrycallingcodes %}
          {% set selected = '0' %}
          {% if countrycallingcode.idCountry_Calling_Code == '83' and father.idCountry_Calling_Code == "" %}
          {% set selected = 'selected' %}
          {% endif %}
          {% if countrycallingcode.idCountry_Calling_Code == father.idCountry_Calling_Code %}
          {% set selected = 'selected' %}
          {% endif %}
          <option value="{{countrycallingcode.idCountry_Calling_Code}}" {{ selected }} >+{{countrycallingcode.Code}}</option>
          {% endfor %}
        </select>
        <!-- <input class="form-control" type="tel" id="hp"> -->
        <span class="help-block"></span>
      </div>
      <div class="col-sm-6 col-xs-6 no-padding">
        <input type="text" class="form-control FatherRelateStatus" name="TelephoneNumber_Father" id="TelephoneNumber_Father" placeholder="Ex.0999999999" value="{{ father.TelephoneNumber }}" maxlength="10" {{ father.idLife_Status == 2 ? 'disabled' :'' }}>
        <span class="help-block"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <label class="control-label"><h3>มารดา</h3></label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label class="control-label">คำนำหน้าชื่อ</label>
        <select id="TitleNameMother" class="form-control chosen" name="TitleNameMother">
          <option value=""> เลือก </option>
          {% for prefixsm in prefixsmo %}
          {% set selected = '' %}
          {% if prefixsm.idPrefix == mother.idPrefix %}
          {% set selected = 'selected' %}
          {% endif %}
          <option value="{{ prefixsm.idPrefix }}" {{ selected }}>{{ prefixsm.Name_TH }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-sm-3">
      <label class="control-label">ชื่อ</label>
      <input type="text" name="FirstName_TH_Mother" class="form-control" value="{{ mother.FirstName_TH }}" >
    </div>
    <div class="col-sm-3">
      <label class="control-label">นามสกุล</label>
      <input type="text" name="LastName_TH_Mother" class="form-control" value="{{ mother.LastName_TH }}">
    </div>
    <div class="col-sm-2">
      <label class="control-label">สถานะ</label>
      <select name="Status_Mother" id="Status_Mother" class="form-control">
        {% for lifestatus in lifestatuss %}
        {% set selected = '1' %}
        {% if lifestatus.idLife_Status == mother.idLife_Status %}
        {% set selected = 'selected' %}
        {% endif %}
        <option value="{{ lifestatus.idLife_Status }}" {{ selected }}>{{ lifestatus.Name_TH }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <label class="control-label">อายุ</label>
      <div class="input-group m-b"><input type="text" class="form-control MotherRelateStatus" name="Age_Mother" value="{{ mother.Age }}" maxlength="3" {{ mother.idLife_Status == 2 ? 'disabled' :'' }}><span class="input-group-addon">ปี</span></div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label class="control-label">อาชีพ</label>
        <select id="TitleName" class="form-control MotherRelateStatus" name="idOccupation_Mother" {{ mother.idLife_Status == 2 ? 'disabled' :'' }}>
          <option value=""> เลือก </option>
          {% for occupation in occupations %}
          {% set selected = '' %}
          {% if occupation.idOccupation == mother.idOccupation %}
          {% set selected = 'selected' %}
          {% endif %}
          <option value="{{ occupation.idOccupation }}">{{ occupation.Name_TH }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group col-md-6 col-sm-6">
      <label class="control-label">เบอร์โทรศัพท์</label><br/>
      <div class="col-md-4 col-sm-4 col-xs-4 no-padding-left">
        <select class="form-control MotherRelateStatus" name="idCountry_Calling_Code_Mother" id="idCountry_Calling_Code_Mother" {{ mother.idLife_Status == 2 ? 'disabled' :'' }}>
          <option value="0">เลือก</option>
          {% for countrycallingcode in countrycallingcodes %}
          {% set selected = '0' %}
          {% if countrycallingcode.idCountry_Calling_Code == '83' and mother.idCountry_Calling_Code == "" %}
          {% set selected = 'selected' %}
          {% endif %}
          {% if countrycallingcode.idCountry_Calling_Code == mother.idCountry_Calling_Code %}
          {% set selected = 'selected' %}
          {% endif %}
          <option value="{{countrycallingcode.idCountry_Calling_Code}}" {{ selected }}>+{{countrycallingcode.Code}}</option>
          {% endfor %}
        </select>
        <span class="help-block"></span>
      </div>
      <div class="col-sm-6 col-xs-6 no-padding">
        <input type="text" class="form-control chosen MotherRelateStatus" name="TelephoneNumber_Mother" id="TelephoneNumber_Mother" placeholder="Ex.0999999999" value="{{ mother.TelephoneNumber }}" maxlength="10" {{ mother.idLife_Status == 2 ? 'disabled' :'' }}>
        <span class="help-block"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class=" col-sm-12">
    <label><h3>พี่น้อง</h3></label><br>
    </div>
  </div>
  <div class="row" >
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <label class="control-label">จำนวนพี่น้อง</label>
      <div class="input-group m-b"><input type="text" class="form-control" id="NumBrethren" name="NumBrethren" data-mask="9" readonly> <span class="input-group-addon">คน</span></div>
    </div>
    <div class="col-sm-2 col-xs-12">
      <br />
    <!-- <button class="btn btn-white" type="button" id="btnAdd_B"><i class="fa fa-plus"></i> เพิ่ม</button>
    <button class="btn btn-white" type="button" id="btnRemove_B"><i class="fa fa-remove"></i> ลด</button> -->
    <button class="btn btn-white" type="button" data-toggle="modal" data-target="#moDalAddBrethren" id="AddBrethren" ><i class="fa fa-plus"></i> เพิ่ม</button>
    </div>
  </div>

  <div class="row">
      <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <!-- <div class="wrapper wrapper-content animated fadeInUp"> -->
              <div class="ibox">
                  <!-- <div class="ibox-content"> -->
                      <div class="project-list">
                        <div class="table-responsive" >
                          <table class="table table-hover ">

                              <tbody class="tbody-b">
                                <tr class="bbbh hidden">
                                    <td class="col-sm-1">
                                      <center>
                                      <button  value="{{b.idFamilies}}" type="button" data-toggle="modal" data-target="#moDaleditBrethren" class="btn btn-white btn-sm editBrethren idFami-b" ><i class="fa fa-pencil"></i> แก้ไข</button>
                                      <!-- <input type="hidden" name="idFamilies" value="{{ b.idFamilies }}"> -->
                                      </center>
                                    </td>
                                    <td class="col-sm-2">
                                        <small>ชื่อ</small><br/>
                                        <h4 class="pfFirstName-b"></h4>
                                    </td>
                                    <td class="col-sm-2" >
                                        <small>นามสกุล</small><br/>
                                        <h4 class="LastName-b"></h4>
                                    </td>
                                    <td  >
                                        <small>สถานะ</small><br/>
                                        <h4 class="life-b"></h4>
                                    </td>
                                    <td  >
                                        <small>อายุ</small><br/>
                                        <h4 class="Age-b"></h4>
                                    </td>
                                    <td  >
                                        <small>อาชีพ</small><br/>
                                        <h4 class="occupation-b"></h4>
                                    </td>
                                    <!-- <td >
                                    <h2><a href="#"><i class="fa fa-minus-circle"></i></a></h2>
                                    </td> -->
                                </tr>
                              {% for b in brethren %}
                              <tr class="bbb">
                                  <td class="col-sm-1">
                                    <center>
                                    <button  value="{{b.idFamilies}}" type="button" data-toggle="modal" data-target="#moDaleditBrethren" class="btn btn-white btn-sm editBrethren" ><i class="fa fa-pencil"></i> แก้ไข</button>
                                    <!-- <input type="hidden" name="idFamilies" value="{{ b.idFamilies }}"> -->
                                    </center>
                                  </td>
                                  <td class="col-sm-2">
                                      <small>ชื่อ</small><br/>
                                      <h4>{{b.nameprefix}}{{ b.FirstName_TH }}</h4>
                                  </td>
                                  <td class="col-sm-2" >
                                      <small>นามสกุล</small><br/>
                                      <h4>{{ b.LastName_TH }}</h4>
                                  </td>
                                  <td  >
                                      <small>สถานะ</small><br/>
                                      <h4>{{ b.namelife }}</h4>
                                  </td>
                                  <td  >
                                      <small>อายุ</small><br/>
                                      <h4>{{ b.Age }}</h4>
                                  </td>
                                  <td  >
                                      <small>อาชีพ</small><br/>
                                      <h4>{{ b.nameoccupation }}</h4>
                                  </td>
                                  <!-- <td >
                                  <h2><a href="#"><i class="fa fa-minus-circle"></i></a></h2>
                                  </td> -->
                              </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                          </div>
                      </div>
                  <!-- </div> -->
              </div>
          <!-- </div> -->
      </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center m-t-md">
      <button type="submit" class="btn btn-info btn-rounded btn-sm save">บันทึกข้อมูล</button>
      <!-- <a class="btn btn-info btn-rounded btn-sm" href="#">บันทึกข้อมูล</a> -->
    </div>
  </div>
</form>

<form method="post" id="insert_Brethren">
<div class="modal inmodal" id="moDalAddBrethren" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <!-- <h4 class="modal-title">เพิ่มพี่น้อง</h4> -->
                <!-- <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small> -->
            </div>
            <div class="modal-body">
                <div class="row">
                  <div class="col-sm-3">
                  </div>
                  <div class="col-sm-6">
                        <label>คำนำหน้าชื่อ</label>
                        <select id="TitleNameBrethren" class="form-control Brethren chosen" name="TitleNameBrethren">
                          <option value="">เลือก</option>
                          {% for prefix in prefixs %}
                          <option value="{{prefix.idPrefix}}" {{ selected }}>{{prefix.Name_TH}}</option>
                          {% endfor %}
                        </select>
                        <br /><br />
                        <label>ชื่อ</label>
                        <input type="text" id="NameBrethren" name="FirstName_TH_Brethren" class="form-control Brethren">
                        <br />
                        <label>นามสกุล</label>
                        <input type="text" id="LastNameBrethren" name="LastName_TH_Brethren" class="form-control Brethren">
                        <br />
                        <label class="control-label">สถานะ</label>
                        <select  id="BrethrenStatus"   class="form-control Brethren BrethrenStatus" name="Status_Brethren">
                          {% for lifestatus in lifestatuss %}
                          <option value="{{ lifestatus.idLife_Status }}" {{ selected }}>{{ lifestatus.Name_TH }}</option>
                          {% endfor %}
                        </select>
                        <br />
                        <label class="control-label">อายุ</label>
                        <div class="input-group m-b"><input type="text" name="Age_Brethren" id="AgeBrethren" class="form-control Brethren"> <span class="input-group-addon">ปี</span></div>
                        <label class="control-label">อาชีพ</label>
                        <select id="OccupationBrethren" class="form-control Brethren" name="idOccupation_Brethren">
                          <option value="">เลือก</option>
                          {% for occupation in occupations %}
                          <option value="{{ occupation.idOccupation }}" {{ selected }}>{{ occupation.Name_TH }}</option>
                          {% endfor %}
                        </select>

                  </div>
                  <div class="col-sm-3">
                  </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white btn-rounded" data-dismiss="modal">  ปิด  </button>
                <button type="button" id="addbrethren" class="btn btn-info btn-rounded">  เพิ่ม  </button>
            </div>
        </div>
    </div>
</div>
</form>

<form method="post" id="edit_Brethren">
<div class="modal inmodal" id="moDaleditBrethren" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <!-- <h4 class="modal-title">เพิ่มพี่น้อง</h4> -->
                <!-- <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small> -->
            </div>
            <div class="modal-body">
                <div class="row">
                  <div class="col-sm-3">
                  </div>
                  <div class="col-sm-6">

                        <label>คำนำหน้าชื่อ</label>
                        <select id="TitleNameBrethren_edit" class="form-control Brethren chosen" name="TitleNameBrethren">
                          <option value="">เลือก</option>
                          {% for prefix in prefixs %}
                          <option value="{{prefix.idPrefix}}" {{ selected }}>{{prefix.Name_TH}}</option>
                          {% endfor %}
                        </select>
                        <br />
                        <label>ชื่อ</label>
                        <input type="text" id="NameBrethren_edit" name="FirstName_TH_Brethren" class="form-control Brethren">
                        <br />
                        <label>นามสกุล</label>
                        <input type="text" id="LastNameBrethren_edit" name="LastName_TH_Brethren" class="form-control Brethren">
                        <br />
                        <label class="control-label">สถานะ</label>
                        <select  id="BrethrenStatus_edit"   class="form-control Brethren" name="Status_Brethren">
                          {% for lifestatus in lifestatuss %}
                          <option value="{{ lifestatus.idLife_Status }}" {{ selected }}>{{ lifestatus.Name_TH }}</option>
                          {% endfor %}
                        </select>
                        <br />
                        <label class="control-label">อายุ</label>
                        <div class="input-group m-b"><input type="text" name="Age_Brethren" id="AgeBrethren_edit" class="form-control Brethren"> <span class="input-group-addon">ปี</span></div>
                        <label class="control-label">อาชีพ</label>
                        <select id="OccupationBrethren_edit" class="form-control Brethren" name="idOccupation_Brethren">
                          <option value="">เลือก</option>
                          {% for occupation in occupations %}
                          <option value="{{ occupation.idOccupation }}" {{ selected }}>{{ occupation.Name_TH }}</option>
                          {% endfor %}
                        </select>

                  </div>
                  <div class="col-sm-3">
                  </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="delbrethren"class="btn btn-danger btn-rounded pull-left">ลบ</button>
                <button type="button" class="btn btn-white btn-rounded" data-dismiss="modal">ปิด</button>
                <button type="button" id="upbrethren" class="btn btn-info btn-rounded">แก้ไข</button>
            </div>
        </div>
    </div>
</div>
</form>



<form method="post" id="insert_Children">
<div class="modal inmodal" id="moDalAddChildren" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <!-- <h4 class="modal-title">เพิ่มพี่น้อง</h4> -->
                <!-- <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small> -->
            </div>
            <div class="modal-body">
                <div class="row">
                  <div class="col-sm-3">
                  </div>
                  <div class="col-sm-6">
                        <label>คำนำหน้าชื่อ</label>
                        <select id="TitleNameChildren" class="form-control Brethren chosen" name="TitleNameChildren">
                          <option value="">เลือก</option>
                          {% for prefix in prefixs %}
                          <option value="{{prefix.idPrefix}}" {{ selected }}>{{prefix.Name_TH}}</option>
                          {% endfor %}
                        </select>
                        <br /><br />
                        <label>ชื่อ</label>
                        <input type="text" id="NameChildren" name="FirstName_TH_Children" class="form-control Children">
                        <br />
                        <label>นามสกุล</label>
                        <input type="text" id="LastNameChildren" name="LastName_TH_Children" class="form-control Children">
                        <br />
                        <label class="control-label">อายุ</label>
                        <div class="input-group m-b"><input type="text" name="Age_Children" id="AgeChildren" class="form-control Children"> <span class="input-group-addon">ปี</span></div>
                  </div>
                  <div class="col-sm-3">
                  </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white btn-rounded" data-dismiss="modal">  ปิด  </button>
                <button type="button" id="addChildren" class="btn btn-info btn-rounded">  เพิ่ม  </button>
            </div>
        </div>
    </div>
</div>
</form>


<form method="post" id="edit_Children">
<div class="modal inmodal"  id="moDaleditChildren" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <!-- <h4 class="modal-title">เพิ่มพี่น้อง</h4> -->
                <!-- <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small> -->
            </div>
            <div class="modal-body">
                <div class="row">
                  <div class="col-sm-3">
                  </div>
                  <div class="col-sm-6">
                        <label>คำนำหน้าชื่อ</label>
                        <select id="TitleNameChildren_edit" class="form-control Children chosen" name="TitleNameChildren">
                          <option value="">เลือก</option>
                          {% for prefix in prefixs %}
                          <option value="{{prefix.idPrefix}}" {{ selected }}>{{prefix.Name_TH}}</option>
                          {% endfor %}
                        </select>
                        <br />
                        <label>ชื่อ</label>
                        <input type="text" id="NameChildren_edit" name="FirstName_TH_Children" class="form-control Children">
                        <br />
                        <label>นามสกุล</label>
                        <input type="text" id="LastNameChildren_edit" name="LastName_TH_Children" class="form-control Children">
                        <br />
                        <label class="control-label">อายุ</label>
                        <div class="input-group m-b"><input type="text" name="Age_Children" id="AgeChildren_edit" class="form-control Children"> <span class="input-group-addon">ปี</span></div>
                  </div>
                  <div class="col-sm-3">
                  </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="delChildren"class="btn btn-danger btn-rounded pull-left">ลบ</button>
                <button type="button" class="btn btn-white btn-rounded" data-dismiss="modal">ปิด</button>
                <button type="button" id="upChildren" class="btn btn-info btn-rounded">แก้ไข</button>
            </div>
        </div>
    </div>
</div>
</form>

<script>
$('#hp').intlTelInput({
  // initialCountry: "auto",
  // geoIpLookup: function(callback){
  // 	$.get('http://ipinfo.io', function(){}, "jsonp").always(function(resp){
  // 		var countryCode = (resp && resp.country) ? resp.country : "";
  // 		callback(countryCode);
  // 	});
  // },
  utilsScript: "js/utils.js"
});
// set it's initial value
var CodeLoad = $("#hp").intlTelInput("getSelectedCountryData").dialCode;
// console.log(CodeLoad);

// listen to the telephone input for changes
$("#hp").on("countrychange", function(e, countryData) {
      var CodeOnchange = $("#hp").intlTelInput("getSelectedCountryData").dialCode;
      // console.log(CodeOnchange);
});

</script>
