
<!-- <div class="row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h3>ทักษะเฉพาะทาง</h3>
				<form class="m-t-md" data-request="onSave" data-request-flash>
					
				</form>
			</div>
		</div>
	</div>
</div> -->
<div class="row">
	<div class="col-lg-4">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>ทักษะเฉพาะทาง</h5>
				<div class="ibox-tools">
					<a href="" class="btn btn-success btn-xs">เลือกทักษะ</a>
				</div>
			</div>
			<div class="ibox-content">
				<div>
					<div>
						<span>PHP</span>
						<small class="pull-right">ขั้นสูง</small>
					</div>
					<div class="progress progress-small">
						<div style="width: 80%;" class="progress-bar progress-bar-info"></div>
					</div>

					<div>
						<span>MySQL</span>
						<small class="pull-right">ปานกลาง</small>
					</div>
					<div class="progress progress-small">
						<div style="width: 50%;" class="progress-bar progress-bar-info"></div>
					</div>

					<div>
						<span>Laravel</span>
						<small class="pull-right">ชำนาญ</small>
					</div>
					<div class="progress progress-small">
						<div style="width: 100%;" class="progress-bar progress-bar-info"></div>
					</div>

					<div>
						<span>CSS</span>
						<small class="pull-right">เริ่มต้น</small>
					</div>
					<div class="progress progress-small">
						<div style="width: 20%;" class="progress-bar progress-bar-info"></div>
					</div>

					<div>
						<span>Javascript</span>
						<small class="pull-right">ขั้นพื้นฐาน</small>
					</div>
					<div class="progress progress-small">
						<div style="width: 40%;" class="progress-bar progress-bar-info"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>ความสามารถพื้นฐานด้านคอมพิวเตอร์</h5>
				<div class="ibox-tools">
					<a href="" class="btn btn-warning btn-xs">แก้ไข</a>
				</div>
			</div>
			<div class="ibox-content">
				<div class="project-list">
					<div>
						<span>Word</span>
						<small class="pull-right">ชำนาญ</small>
					</div>
					<div class="progress progress-small">
						<div style="width: 100%;" class="progress-bar progress-bar-info"></div>
					</div>

					<div>
						<span>Excel</span>
						<small class="pull-right">เริ่มต้น</small>
					</div>
					<div class="progress progress-small">
						<div style="width: 20%;" class="progress-bar progress-bar-info"></div>
					</div>

					<div>
						<span>Powerpoint</span>
						<small class="pull-right">ขั้นพื้นฐาน</small>
					</div>
					<div class="progress progress-small">
						<div style="width: 40%;" class="progress-bar progress-bar-info"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>ความสามารถด้านการพิมพ์</h5>
				<div class="ibox-tools">
					<a href="" class="btn btn-warning btn-xs">แก้ไข</a>
				</div>
			</div>
			<div class="ibox-content">
				<div class="project-list">
					<div>
						<span>การพิมพ์ไทย</span>
						<small class="pull-right">51-75 (คำต่อนาที)</small>
					</div>
					<div class="progress progress-small">
						<div style="width: 50%;" class="progress-bar progress-bar-info"></div>
					</div>

					<div>
						<span>การพิมพ์อังกฤษ</span>
						<small class="pull-right">70-100 (คำต่อนาที)</small>
					</div>
					<div class="progress progress-small">
						<div style="width: 80%;" class="progress-bar progress-bar-info"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>ทักษะด้านภาษา</h5>
				<div class="ibox-tools">
					<a href="" class="btn btn-success btn-xs">เพิ่มภาษา</a>
				</div>
			</div>
			<div class="ibox-content">
				<div class="row">
					<div class="col-md-4">
						<div class="ibox-title lang-title">
							<h5>ไทย</h5>
							<div class="ibox-tools">
								<a href="" class="btn btn-warning btn-xs">แก้ไข</a>
							</div>
						</div>
						<div class="ibox-content lang-detail">
							<div>
								<div>
									<span>ฟัง</span>
									<small class="pull-right">ดี</small>
								</div>
								<div class="progress progress-small">
									<div style="width: 60%;" class="progress-bar progress-bar-info"></div>
								</div>

								<div>
									<span>พูด</span>
									<small class="pull-right">ดีมาก</small>
								</div>
								<div class="progress progress-small">
									<div style="width: 100%;" class="progress-bar progress-bar-info"></div>
								</div>

								<div>
									<span>อ่าน</span>
									<small class="pull-right">ปานกลาง</small>
								</div>
								<div class="progress progress-small">
									<div style="width: 40%;" class="progress-bar progress-bar-info"></div>
								</div>

								<div>
									<span>เขียน</span>
									<small class="pull-right">พอใช้</small>
								</div>
								<div class="progress progress-small">
									<div style="width: 20%;" class="progress-bar progress-bar-info"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="ibox-title lang-title">
							<h5>อังกฤษ</h5>
							<div class="ibox-tools">
								<a href="" class="btn btn-warning btn-xs">แก้ไข</a>
							</div>
						</div>
						<div class="ibox-content lang-detail">
							<div>
								<div>
									<span>ฟัง</span>
									<small class="pull-right">ดี</small>
								</div>
								<div class="progress progress-small">
									<div style="width: 60%;" class="progress-bar progress-bar-info"></div>
								</div>

								<div>
									<span>พูด</span>
									<small class="pull-right">ดีมาก</small>
								</div>
								<div class="progress progress-small">
									<div style="width: 100%;" class="progress-bar progress-bar-info"></div>
								</div>

								<div>
									<span>อ่าน</span>
									<small class="pull-right">ปานกลาง</small>
								</div>
								<div class="progress progress-small">
									<div style="width: 40%;" class="progress-bar progress-bar-info"></div>
								</div>

								<div>
									<span>เขียน</span>
									<small class="pull-right">พอใช้</small>
								</div>
								<div class="progress progress-small">
									<div style="width: 20%;" class="progress-bar progress-bar-info"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="ibox-title lang-title">
							<h5>ญี่ปุ่น</h5>
							<div class="ibox-tools">
								<a href="" class="btn btn-warning btn-xs">แก้ไข</a>
							</div>
						</div>
						<div class="ibox-content lang-detail">
							<div>
								<div>
									<span>ฟัง</span>
									<small class="pull-right">ดี</small>
								</div>
								<div class="progress progress-small">
									<div style="width: 60%;" class="progress-bar progress-bar-info"></div>
								</div>

								<div>
									<span>พูด</span>
									<small class="pull-right">ดีมาก</small>
								</div>
								<div class="progress progress-small">
									<div style="width: 100%;" class="progress-bar progress-bar-info"></div>
								</div>

								<div>
									<span>อ่าน</span>
									<small class="pull-right">ปานกลาง</small>
								</div>
								<div class="progress progress-small">
									<div style="width: 40%;" class="progress-bar progress-bar-info"></div>
								</div>

								<div>
									<span>เขียน</span>
									<small class="pull-right">พอใช้</small>
								</div>
								<div class="progress progress-small">
									<div style="width: 20%;" class="progress-bar progress-bar-info"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>